/* ==========================================================================
   GOOGLE FONT IMPORT
   ========================================================================== */

/*Outfit*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* ==========================================================================
   CSS VARIABLES & RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ROOT FORMATTING*/
:root {
  --site-font: "Outfit", sans-serif;
}

/* ==========================================================================
   PRODUCT PAGE FORMATTING
   ========================================================================== */

/*Format product img*/
.product {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
