/* ==========================================================================
   GOOGLE FONT IMPORT
   ========================================================================== */

/*Outfit*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* ==========================================================================
   CSS VARIABLES & RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ROOT FORMATTING*/
:root {
  --site-font: "Outfit", sans-serif;
  --margin-bottom: 40px;
  --border-radius: 0.5rem;
}

/*BODY FORMATTING*/
body {
  font-family: var(--site-font);
}

/*Format site container*/
.site-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* ==========================================================================
   PRODUCT PAGE FORMATTING
   ========================================================================== */
/*Format product container*/
.product-container {
  padding: 36px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 52px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: var(--border-radius);
}

/*Format element spacing*/
.product-tab-navigation,
.product-desc,
.product-highlights,
.product-option-container {
  margin-bottom: var(--margin-bottom);
}

.product-tab-navigation {
  font-weight: 600;
  font-size: 0.875rem;
}

/*Format product nav active link*/
.active-tab-link {
  color: #d2d5da;
}

.product-title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 24px;
}

/*Format product description*/
.product-desc,
.list-item {
  font-weight: 400;
  font-size: 1rem;
}

.subsect-title {
  font-size: 1rem;
  margin-bottom: 12px;
}

/*Format product highlight list*/
.product-highlights {
  list-style-position: inside;
  margin-left: 10px;
}

.list-item {
  margin-bottom: 15px;
}

/*Format product option container*/
.product-option-container {
  background-color: #f3f4f6;
  display: inline-flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
  border-radius: var(--border-radius);
}

.option-title {
  font-weight: 300;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 6px;
}

/*Format select option*/
.select-option {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
}

/*Format product price*/
.product-price {
  font-size: 2.3rem;
}

/*Format button container*/
.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 210px);
  gap: 20px;
}

/*Format button*/
button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--site-font);
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 32px;
  border-radius: 5px;
  border: none;
}

/*Format add card button*/
.add-cart {
  background-color: #652cd1;
  color: #fff;
}

/*Format wishlist button*/
.wishlist-btn {
  background: transparent;
  border: 1px solid #d2d5da;
}
/*Format wishlist button icon*/
.wishlist-btn > svg {
  vertical-align: middle;
  margin-right: 6px;
}

/* ==========================================================================
  MEDIA QUERIES
   ========================================================================== */
/*Tablet Media Query*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*Format product container*/
  .product-container {
    grid-template-columns: 4fr 1fr;
  }

  .product-img {
    background-color: red;
  }

  .product-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

/*Mobile media query*/
@media screen and (max-width: 640px) {
  /*Format product container orientation*/
  .product-container {
    grid-template-columns: 1fr;
  }
}
