/* ==========================================================================
   GOOGLE FONT IMPORT
   ========================================================================== */

/*Outfit*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* ==========================================================================
   CSS VARIABLES & RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ROOT FORMATTING*/
:root {
  --site-font: "Outfit", sans-serif;
  --main-text-color: #000;
  --product-text-color: #394150;
  --add-cart-btn: #652cd1;
  --product-selection-bg: #d2d5da;
  --production-selection-text: #f3f4f6;
  --main-site-bg: #ffffff;
}

/*BODY FORMATTING*/
body {
  font-family: var(--site-font);
}
